/* Navbar.css */
/* Navbar.css */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#007bff;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed; /* Ensure it stays at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  